<div class='container my-4'>
    <h1 class="text-center">About Us</h1>
    <div class='row'>
        <div class='col-sm-6 text-center'>
            <img src="assets/img/doctor1.png" alt="An image of doctor Victor Magalhaes"
                class="img-fluid media-body foto rounded-circle">
            <p class="name">Doctor Victor Magalhaes</p>
            <p class="desc">Victor qualified from the University of Birmingham having been awarded
                the Centenary Prize and nominated for the Clinical Excellence Award.
                He continued his postgraduate education at Oxford University whilst
                working in practice, before moving to Guy’s Hospital, London.</p>
        </div>
        <div class='col-sm-6 text-center'>
            <img src="assets/img/doctor2.png" alt="An image of doctor Victor Magalhaes Junior"
                class="img-fluid media-body foto rounded-circle">
            <p class="name">Doctor Victor Magalhaes Junior </p>
            <p class="desc">Victor Junior qualified as a dentist at the University of Melbourne
                and then gained an MSc in Orthodontics at the University of London.
                He was awarded the Professor Philip Walther Prize for
                outstanding performance as part of his MSc and obtained
                membership of The Royal College of Surgeons upon qualification. </p>
        </div>
    </div>
</div>