<h1 class="text-center">About Us</h1>
<div class='row'>
    <div class='col-sm-6'>
        <img src="doctor1.jpg" alt="An image of doctor Victor Magalhaes ">
        <p class="name">Doctor Victor Magalhaes</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis risus libero. Maecenas commodo eleifend sapien
            at sollicitudin. Ut congue velit consectetur felis semper, nec vulputate nulla accumsan. Curabitur nec augue
            dignissim, fermentum ex at, eleifend nisi. Ut venenatis consequat nisl, ut tincidunt erat scelerisque vitae.</p>
    </div>
    <div class='col-sm-6'>
        <img src="doctor2.jpg" alt="An image of doctor Victor Magalhaes Junior ">
        <p class="name">Doctor Victor Magalhaes Junior </p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis risus libero. Maecenas commodo eleifend sapien
            at sollicitudin. Ut congue velit consectetur felis semper, nec vulputate nulla accumsan. Curabitur nec augue
            dignissim, fermentum ex at, eleifend nisi. Ut venenatis consequat nisl, ut tincidunt erat scelerisque vitae.</p>
    </div>
</div>