<nav class="navbar navbar-expand navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="#">
    <p class="logo">Nor<span class="color">dent</span></p>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li>
        <a class="nav-link" routerLink='/' routerLinkActive='active'>Home</a>
      </li>
      <li>
        <a class="nav-link" routerLink='/about' routerLinkActive='active'>About Us</a>
      </li>
      <li>
        <a class="nav-link" routerLink='/services' routerLinkActive='active'>Services</a>
      </li>
      <li>
        <a class="nav-link" routerLink='/prices' routerLinkActive='active'>Prices</a>
      </li>
      <li>
        <a class="nav-link" routerLink='/contact' routerLinkActive='active'>Contact</a>
      </li>
    </ul>
    <div class="my-2 my-lg-0 medium text-right contact">
      <a href="mailto:nordent@contact.com">nordent@contact.com</a>
      <a href="tel:+442273539376">+44 22 7353 9376</a>
    </div>
  </div>
</nav>