
.container {
    height: calc(100vh - 59px);
    overflow: hidden;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}
agm-map {
    height: 280px;
    width: 100%;
}
.header {
    margin-bottom: 0.8em;
    color: #244F5F;
}
.city {
    margin-bottom: 6px;
}
.contact {
    padding-top: 15px;
    font-size: 1em;
}
.contact a {
    font-size: 0.8em;
    color: #244F5F;
}