<div class='container my-4'>
<h1 class="text-center header">Our pricing</h1>
<div class="row">
    <div class="col-sm-8 offset-sm-2">
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Price</th>
                    <th scope="col">Service</th>
                    <th scope="col">Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>20$</td>
                    <td>Quisque</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        In rutrum, ipsum quis pretium dictum, justo velit dictum massa, ac ornare dolor augue et augue. </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>28$</td>
                    <td>Thornton</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum, ipsum quis pretium
                        dictum, justo velit dictum massa, ac ornare dolor augue et augue. </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>65$</td>
                    <td>Ante</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum, ipsum quis
                        pretium dictum, justo velit dictum massa, ac ornare dolor augue et augue. </td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>30$</td>
                    <td>Nulla</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum,
                        ipsum quis pretium dictum, justo velit dictum massa, ac ornare dolor augue et augue. </td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>150$</td>
                    <td>Semper</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        In rutrum, ipsum quis pretium dictum, justo velit dictum massa, ac ornare dolor augue et augue. </td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>80$</td>
                    <td>Ante eros</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        In rutrum, ipsum quis pretium dictum, justo velit dictum massa, ac ornare dolor augue et augue. </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
