<div class='container my-4'>
    <h1 class="text-center header">Our pricing</h1>
    <div class="row">
        <div class="col-sm-9 offset-sm-2">

            <table class="table table-hover">
                <thead class="thread">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Price</th>
                        <th scope="col">Service</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>20$</td>
                        <td>Hidden braces</td>
                        <td>Dental braces are devices used in orthodontics that align and straighten teeth
                            and help position them with regard to a person's bite,
                            while also aiming to improve dental health.</td>
                    <tr>
                        <th scope="row">2</th>
                        <td>28$</td>
                        <td>Dental implants</td>
                        <td>A dental implant (also known as an endosseous implant or fixture)
                            is a surgical component that interfaces with the bone of the jaw or
                            skull to support a dental prosthesis</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>65$</td>
                        <td>Teeth whitening</td>
                        <td>The process of teeth whitening lightens the colour of a tooth.
                            Teeth whitening can be achieved by either changing the intrinsic colour or
                            by removing and controlling the formation of extrinsic stains.</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>30$</td>
                        <td>Root canal</td>
                        <td>Root canal is a colloquial term for a dental operation, endodontic therapy,
                            wherein the pulp is cleaned out, the space disinfected and then filled. </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>