<div class='container my-4 text-center'>
    <h1 class="header">Our services</h1>
    <div>
        <div class="row">
            <div class="col-sm-4 service">
                <img class="img-fluid media-body" src="assets/img/icon1.png">
                <p>Hidden braces</p>
            </div>
            <div class="col-sm-4 service">
                <img class="img-fluid media-body" src="assets/img/icon2.png">
                <p>Dental implants</p>
            </div>
            <div class="col-sm-4 service">
                <img class="img-fluid media-body" src="assets/img/icon3.png">
                <p>Teeth whitening</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 service">
                <img class="img-fluid media-body" src="assets/img/icon4.png">
                <p>Root canal</p>
            </div>
            <div class="col-sm-4 service">
                <img class="img-fluid media-body" src="assets/img/icon5.png">
                <p>Dental crowns</p>
            </div>
            <div class="col-sm-4 service">
                <img class="img-fluid media-body" src="assets/img/icon6.png">
                <p>Dental hygienist</p>
            </div>
        </div>
    </div>
</div>