.header {
    margin-bottom: 1.5em;
    color: #244F5F;
}
.service {
    margin-top:1.5em;
}
img {
    max-width: 50px;
    padding-left: 5px;
    padding-right:5px;
}
p {
    padding-top: 5%;
    padding-bottom: 15%;;
}