<div class='container my-4 text-center'>
    <h1 class="header">Our services</h1>
    <div class="row">
        <div class="col-sm-4">
            <img class="img-fluid" src="icon1.png">
        </div>
        <div class="col-sm-4">
            <img class="img-fluid" src="icon2.png">
        </div>
        <div class="col-sm-4">
            <img class="img-fluid" src="icon3.png">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <img class="img-fluid" src="icon4.png">
        </div>
        <div class="col-sm-4">
            <img class="img-fluid" src="icon5.png">
        </div>
        <div class="col-sm-4">
            <img class="img-fluid" src="icon6.png">
        </div>
    </div>
</div>