.background {
    background-image: url(backgroundpic.jpg);
    background-repeat: none;
    background-size: cover;
    height: 100vh;
    width: 100%;
    }

.text {
    margin-top: 25%;
    margin-left: 10%;
}
.header {
    font-weight: bold;
}
.maxima {
    margin-top: 2em;
    font-size: 1.2em;
}