<div class="container-fluid background">
    <div class="row">
        <div class="col-sm-6 text">
            <h1 class="header">Nor<span class="color">dent</span></h1>
            <p class="maxima"> Multi award winning (Best Practice London and
                Best Practice, UK, 2009, 2011, 2012, 2015) and recently awarded
                the Practice of the Year, London, 2018 we have been recognised
                for our unparalleled multidisciplinary services that create
                our patient’s dental wellness.</p>
        </div>
    </div>
</div>